.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
}

@media only screen and (min-width: 900px) {
    .container {
        width: 60%;
        margin: auto;
    }
}

.submit {
    height: 70px;
    width: 150px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(45deg, white, gray);
    font-size: 20px;
    font-weight: 600;
}

.edit {
    height: 70px;
    width: 150px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(45deg, #d8e3e7, #51c4d3);
    font-size: 20px;
    font-weight: 600;
    border: 3px solid #126e82;
}